/node_modules/
/public/hot/
/public/storage/
/public/arquivos/
/storage/*.key
/vendor/
.env
.ssh/
/.ssh/
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
